:root {
    --r-background-color: black;
    --r-heading-color: white;
    --r-main-color: white;
}

@keyframes example {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.slides > :nth-child(1) * {
    color: var(--r-background-color);
}

.slides pre {
    color: black;
    background-color: white;
}

.slides > :nth-child(2) * {
    font-family: "TSCu_Comic", serif;
}

.two-column {
    display: grid !important;
    grid-template:
        "a a"
        "b c";
}

.two-column h1 {
    grid-column: 1 / 3;
}


.slides img {
    max-width: 400px;
}

.animate.present {
    animation-name: example;
    animation-duration: 1s;
}

.backgrounds > :first-child .slide-background-content {
    background-color: white;
}
