<!DOCTYPE html>
<html>
<head>
    <style>{{{ style }}}</style>
    <style>{{{ theme }}}</style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        {{{ slides }}}
    </div>
</div>
<script>
    {{{ reveal }}}
</script>
<script>
    Reveal.initialize();
</script>
</body>
</html>
